<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon [matBadge]="notifications.length" [matBadgeHidden]="!notifications.length">notifications</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="over" position="start" role="navigation" [autoFocus]="false">
    <mat-nav-list>
      @for (nav of sideNavigation; track nav; let last = $last) {
      <a mat-list-item [routerLink]="nav.path">{{nav.title}}</a>
      <!-- TODO style active routes -->
      @if (!last) {
      <mat-divider></mat-divider>
      }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <!-- TODO check user account -->
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Log out
  </button>
</mat-menu>